.background {
    /* The image used */
    background-image: url(./404.png);

    /* Full height */
    height: 51.6rem; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}